.secondary_button {
  background: hsl(var(--secondary-foreground) / 0.14);
  background: radial-gradient(
    circle,
    hsl(var(--secondary-foreground) / 0.01) 0%,
    hsl(var(--secondary-foreground) / 0.18) 100%
  );
  background-size: contain;
  background-position: center;
  object-fit: fill;
  background-repeat: no-repeat;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
.secondary_button:hover {
  background: hsl(var(--secondary-foreground) / 0.25);
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
/* .primary_button {
  background: hsl(var(--primary) / 0.7);
  color: white;
} */
.primary_button {
  background: hsl(var(--primary) / 0.14);
  background: radial-gradient(
    circle,
    hsl(var(--primary) / 0.01) 0%,
    hsl(var(--primary) / 0.4) 100%
  );
  background-size: contain;
  background-position: center;
  object-fit: fill;
  background-repeat: no-repeat;

  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
.primary_button:hover {
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
